<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
<!--<p th:text="'Bienvenido ' + ${name} + ' (username ' + ${preferred_username} + ', email ' + ${email} + ')'"/>-->
<ol class="breadcrumb">
    <li class="active" th:text="'Bienvenido ' + ${name} + ' (username ' + ${preferred_username} + ', email ' + ${email} + ')'"></li>
</ol>
<div class="container">
    <h1>Iniciar sesión</h1>
    <div class="form">
        <form action="#" data-th-action="@{/dologin}" th:object="${userLogin}" method="post">
            <fieldset>
                <div class="form-group">
                    <input type="email" th:value="${email}" th:field="*{email}"
                           id="email" placeholder="Email" required="true"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" th:value="${password}" th:field="*{password}"
                           id="password" placeholder="Contraseña" required="true"
                           class="form-control"/>
                </div>
                <div class="form-group-submit submit">
                    <input type="submit" class="button" value="Iniciar sesión" title="Iniciar sesión"/>
                </div>
            </fieldset>
        </form>

    </div>

</div>
</body>
</html>